.chart-container {
  margin: 0;
  padding: 2.4rem;
}

.dropdown-bar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.dropdown-primary {
  width: 20%;
}

.chart {
  margin: 0 auto;
  padding: 3.2rem;
  max-width: 125rem;
}
