.main-login-container {
  display: block;
  max-width: 40rem;
  margin: 0 auto;
  padding: 2.4rem;
  text-align: center;
}

button.main-login {
  display: inline;
  width: 20rem;
  height: 4.8rem;
  margin-top: 0rem;
  color: #fff;
  background-color: #0099ff;

  font-size: 1.6rem;
  border-radius: 0.8rem;
  border: none;

  cursor: pointer;
}

button.main-login:hover {
  display: inline-block;
  background-color: #fff;
  color: #0099ff;
  border: 1px solid #0099ff;
  transition: 300ms;
}

button.main-login:active {
  font-size: 1.8rem;
}

.waves {
  width: 100%;
}
