.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  position: sticky;
  top: 5rem;
}

.sidebarWrapper {
  padding: 2rem;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 1rem;
}

.sidebarTitle {
  font-size: 1.3rem;
  padding: 0;
  text-align: left;
}

.sidebarList {
  list-style: none;
  padding: 0.5rem;
}

.sidebarListItem {
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 1rem;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #e9ecef;
}

.sidebarIcon {
  margin-right: 0.5rem;
}

.link {
  text-decoration: none;
  color: #555;
}
